<article>
    <div id= homearticle>
            <h2>Joking Hazard Alert!</h2>
            <p>
                Welcome internet visitors, my name is Johan Anthony Royce and thank you for visiting
                the Riddle Corner. Have you ever wanted to be the class clown or wanted to be the life 
                at the party but have no jokes or riddles to tell? Well look no further than the Riddle 
                Corner. Here you will able to view hundereds of riddles that will blow your friends' mind.
            </p>
        </div>
        </article>
        <article>
        <div id=homearticle>
            <h2>Join in the Fun</h2>
            <p>
                Have you ever had a good riddle and wanted to share it with the world? Well you're in luck! 
                If you go to the Riddle page, where we list all our riddles, you will see an "Add a Riddle" 
                button. From there you will be able to share your riddle with millions of other people; in 
                fact all the riddles posted here, from viewers like you. So Thank You and have a laugh.
            </p>
        </div>
        </article>