<article>
    <div id= homearticle>
            <h2>WELCOME</h2>
            <p>
                Welcome internet visitors, my name is Johan Anthony Royce and thank you for visiting
                my first Website. It is through this website that I will post any future works both 
                programing and web design related. So enjoy your time on my website and thank you.
            </p>
        </div>
        </article>
        <aside>
        <div id=homeaside>
            <div class="homesidebox">
                <p>
                    Click on the "About" link at the top to learn more about me Johan Royce
                </p>
            </div>
            <div class="homesidebox">
                <p>
                    Click on the "Projects" link at the top to observe my latest works/projects
                </p>
            </div>
            <div class="homesidebox">
                <p>
                    Click on the "Contact" link at the top to send questions to me and have discussions
                </p>
            </div>
        </div>
        </aside>